body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  border-style: solid;
  border-width: 25px;
  border-color: darkblue;
  width: 200px;
  height: 200px;
  margin: 100px;
}

.block {
  position: absolute;
  width: 120px;
  height: 25px;
  background-color: red;
}

.user {
  position: absolute;
  background-color: green;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(4, 0, 128);
}
